/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>

&{/} {
	pwm_bl: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <1 2 4 8 16 32 64 128 255>;
		default-brightness-level = <8>;
		enable-gpios = <&r_pio 0 4 GPIO_ACTIVE_HIGH>; /* PG10 */
	};

	reg_panel: reg-panel {
		compatible = "regulator-fixed";
		regulator-name = "panel";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pio 1 7 GPIO_ACTIVE_HIGH>; /* PB07 */
		enable-active-high;
	};
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "bananapi,lhr050h41", "ilitek,ili9881c";
		reg = <0>;
		reset-gpios = <&r_pio 0 5 GPIO_ACTIVE_LOW>; /* PL05 */
		power-supply = <&reg_panel>;
		backlight = <&pwm_bl>;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pins>;
	status = "okay";
};

&tcon0 {
	status = "okay";
};
