Source: chip-dt-overlays
Section: misc
Priority: extra
Maintainer: Ben Young <software@nextthing.co>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: nextthing.co

Package: chip-dt-overlays
Architecture: armhf
Depends: ${misc:Depends}
Description: Device Tree Overlays.
 Files for dynamically loading interfaces to new hardware.
